@charset "utf-8";

section{
    display: flex;
    flex-direction: column;
}

#menutitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{border-bottom: 1px solid;}

#menuarea{
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    width: 100px;
    height: 35px;
    border-style: none;
    background-color:rgb(154,157,112);
}

#menuscontainar{
    width: 100%;
    display: flex;
    justify-content: center;
}

#menus{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*
#nav{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.er{
    width: 60px;
    border-right: 1px solid;
}

#last{
    border: 0px;
}
*/